.Post { 
    padding: 20px; 
    background-color: rgb(48, 30, 212); 
    border-radius: 10px; 
    margin: 25px;
} 
.Post .like { 
    font-size: 25px;  
    text-align: right;
    color: firebrick;
}